@import "tailwindcss";

:root {
  --font-gothic-a1: 'Gothic A1', sans-serif;
  --font-mplus-2:   'M PLUS 2',   sans-serif;
  --font-noto-sc:   'Noto Sans SC',sans-serif;
  --font-sans: var(--font-gothic-a1), var(--font-mplus-2), var(--font-noto-sc), system-ui, sans-serif;

  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  /* 폰트 유틸 생성 */
  --font-sans:   var(--font-sans);
  --font-gothic: var(--font-gothic-a1);
  --font-mplus:  var(--font-mplus-2);
  --font-noto:   var(--font-noto-sc);

  /* 컬러 유틸 생성 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
